@import "tailwindcss";

@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-border: var(--color-border);

  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);

  --color-muted: var(--color-muted);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-danger: var(--color-danger);
}

@layer base {
  :root {
    --color-background: #F7F8FA;
    --color-surface: #FFFFFF;
    --color-border: #E5E7EB;

    --color-primary: #3B82F6;
    --color-primary-foreground: #FFFFFF;

    --color-text-primary: #0F172A;
    --color-text-secondary: #475569;

    --color-muted: #94A3B8;
    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
  }

  .dark {
    --color-background: #020617;
    --color-surface: #0f172a;
    --color-border: #1e293b;

    --color-primary: #3B82F6;
    --color-primary-foreground: #FFFFFF;

    --color-text-primary: #f8fafc;
    --color-text-secondary: #94a3b8;

    --color-muted: #64748b;
    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
  }

  body {
    @apply bg-background text-text-primary font-sans antialiased transition-colors duration-200;
  }
}